.categories-container {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-category {
    width: 100%;
    padding: 12px 15px;
    font-size: 1rem;
    font-weight: bold;
    color: #333;
    background-color: #f0c14b; /* Amazon's button color */
    border: 1px solid #a88734; /* Amazon's button border color */
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.btn-category:hover {
    background-color: #ddb347; /* Lighter shade for hover */
    color: white;
    cursor: pointer;
}

.skeleton {
    border-radius: 4px;
}
