.btn-category {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    font-weight: bold;
    background-color: #2d2f31;
    color: white;
    border: 0;
}

.btn-category:hover {
    background-color: #444647;
    cursor: pointer;
}

.skeleton {
    border-radius: 4px;
}