.hr-text {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 1.5rem 0;
}

.hr-text::before,
.hr-text::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #ccc;
}

.hr-text:not(:empty)::before {
    margin-right: 0.25em;
}

.hr-text:not(:empty)::after {
    margin-left: 0.25em;
}